<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
        <!-- Hibernate SQL Logs -->
        <Logger name="org.hibernate.SQL" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <!-- Hibernate Bind Parameters -->
        <Logger name="org.hibernate.type" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
    </Loggers>
</Configuration>