<persistence xmlns="http://java.sun.com/xml/ns/persistence"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
   version="1.0">
   <persistence-unit name="SET NAME HERE" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

      <properties>
         <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL8Dialect"/>
        
         <property name="hibernate.show.sql" value="true"/>
         <property name="hibernate.format.sql" value="true"/>
         
         
	<!-- PROVIDE THE URL, USERNAME, DRIVER, and PASSWORD as properties
		The URL is jdbc:mysql://localhost:3306/conygre?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC, 
      the driver is com.mysql.cj.jdbc.Driver
	 the user is root and the password is c0nygre
 	-->
         
      </properties>
   </persistence-unit>
</persistence>
